<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Tasks</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="custom-header">
        <div class="left-section">
            <h1>Google Tasks</h1>
        </div>
        <div class="right-section">
            <div class="profile">
                <% if (locals.user) { %>
                    <img src=<%=user.picture %> alt="Profile Picture">
                    <div class="profile-info">
                        <h3>
                            <%= user.name %>
                        </h3>
                        <h3>
                            <%= user.email %>
                        </h3>
                    </div>
                    <% } %>
            </div>
            <form action="/logout" method="post">
                <button class="signout-button" type="submit">Sign out</button>
            </form>
        </div>
    </header>

    <div class="main-div">
        <% if (!locals.taskLists || locals.taskLists.length===0) { %>
            <h1>No task List</h1>
            <%} else { %>
                <section class="tabs">
                    <% taskLists.forEach(element=> { %>

                        <% if (selectedListID===element.id ) { %>
                            <form action="/taskLists/<%= element.id %>/tasks" method="get">
                                <button class="tab-button active">
                                    <%= element.title %>
                                </button>
                            </form>

                            <%} else { %>
                                <form action="/taskLists/<%= element.id %>/tasks" method="get">
                                    <button class="tab-button">
                                        <%= element.title %>
                                    </button>
                                </form>
                                <% } %>

                                    <% }) %>
                </section>
                <% if (!locals.tasks || locals.tasks.length===0){ %>
                    <br>
                    <br>
                    <h2>No tasks in this list</h2>
                    <br>
                    <%} else { %>
                        <section class="todo-list">
                            <ul>
                                <% tasks.forEach(task=> { %>
                                    <form action="/taskLists/<%= selectedListID %>/tasks/<%= task.id %>" method="get">
                                        <button>
                                            <li class="task-item">
                                                <span class="task">
                                                    <%= task.title %>
                                                </span>
                                            </li>
                                        </button>
                                    </form>

                                    <% }) %>
                            </ul>
                        </section>
                        <% } %>
                            <% } %>
                                <!-- Add Task Form -->
                                <div id="add-task-form" style="display: none;">
                                    <form action="/taskLists/<%= selectedListID %>/tasks" method="post"
                                        enctype="application/x-www-form-urlencoded">
                                        <input type="text" name="title" placeholder="Task Title" required>
                                        <input type="date" name="due" required>
                                        <button type="submit">Add</button>
                                    </form>
                                </div>
                                <button class="add-button" id="show-add-task-form">Add Task</button>
    </div>
    <script>
        // JavaScript to show/hide the Add Task form when the button is clicked
        const showAddTaskButton = document.getElementById('show-add-task-form');
        const addTaskForm = document.getElementById('add-task-form');

        showAddTaskButton.addEventListener('click', () => {
            addTaskForm.style.display = 'block';
        });
    </script>
</body>

</html>